{% extends "layout.html" %}
{% block title %}
Knitting Stitch Preview
{% endblock %}
{% block main %}
<div class="section">
    <div class="ib">
        <div><input class="form-control" id="title" type="text" placeholder="Stitch Title"
                value="{% if data %}{{data[0][3]}}{% endif %}"></div>
        <div style="display: inline;"><input type="button" value="Save stitch" onclick="save();"></div>
        <div style="display: inline;">{% if saved %}Stitch saved!{% endif %}</div>
    </div>

    <div class="ib">
        <div><label class="form-check-label" for="stitch">
                <strong>Input mode:</strong>
            </label>
        </div>
        <div>
            <input class="form-check-input" type="radio" name="inputMode" value="result" onchange="switch_input();"
                checked>
            As if you were looking at the end result
        </div>
        <div>
            <input class="form-check-input" type="radio" name="inputMode" value="stitch" onchange="switch_input();">
            As if you were knitting the stitches
        </div>
    </div>
    <div class="ib">
        <div style="display: inline;">
            <label for="color_choice">Colour</label>
            <input type="color" id="color_choice" onchange="update();"
                value="{% if data %}{{'#' + data[0][2]}}{% else %}#e0dfd7{% endif %}">
        </div>
        <div style="display: inline;">
            <label for="show_reverse">Show:</label>
            <select id="show_reverse" oninput="update();">
                <option value="0">Front</option>
                <option value="1">Back</option>
            </select>
        </div>
    </div>
</div>
<div class="section">
    <div style="display: inline-block; vertical-align: top; width:25%;">
        <textarea class="form-control" id="input_text"
            style="resize:none; height:325px; width:100%; vertical-align: top; font-family: monospace; font-size: 30pt;"
            placeholder="Type some 'K's or 'P's..."
            oninput="update();">{% if data %}{{data[0][1] | replace("-", "\n")}}{% endif %}</textarea>
    </div>
    <div style="display: inline-block; vertical-align: top; width: 70%;"><span id="update_text"></span>
    </div>
</div>
</div>
{% endblock %}