{% extends "layout.html" %}

{% block title %}
Knitting Stitch List
{% endblock %}
{% block main %}

<table class="table" style="width: 80%; margin: 50px;">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Code</th>
            <th scope="col">Colour</th>
            <th scope="col">Thumbnail</th>
        </tr>
    </thead>
    <tbody>

        {% for i in range( data | length) %}
        <tr>
            <td><a href="load?id={{data[i][0]}}"><strong>{{ data[i][3] }}</strong></a></td>
            <td>{{ data[i][1] }}</td>
            <td>{{ "#" + data[i][2] }}</td>
            <td><img src="data:image/png;base64, {{ thumbnails[i] }}" /></td>
        </tr>
        {%endfor %}

    </tbody>
</table>
</div>
{% endblock %}